<div class="mb-5"><%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie, label: "Which movie do you want to add?" %>
    <%= f.input :comment, label: "Add your comment!" %>
    <%= f.submit  %>
  <% end %>
</div>
